@charset "UTF-8";

// clear
//清楚浮动
@mixin clear {
  &::after{
  content: '';
  display: block;
  visibility: hidden;
  clear: both;
  }
}

// justify 
// 左右对齐
@mixin justify{
      display: flex;
      justify-content: space-between;
      align-items: center;
}

// tag-size or btn-size
// 会员状态标签和功能按钮大小
@mixin btn-size($width,$padding,$height, $radius ,$fontSize,$border) {
  width:$width;
  padding:0 $padding;
  text-align: center;
  font-size: $fontSize;
  line-height: $height - 2px; // 减掉2px的上下高度
  @if $radius {
      border-radius: $radius;
  }
  @if$border{
    border: 1px solid;
  }
}

//元素居中对齐，自定义外边距
@mixin element-center($width,$height,$top,$bottom){
  width: $width;
  height: $height;
  @if $top==$bottom{
    margin: $top auto;
  }
  @else{
  margin: $top auto $bottom;
  }
}
//元素垂直水平居中对齐
@mixin element-center-both($width){
  width: $width;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

// subtitle 文字居中
// 子标题文字居中
@mixin subtitle{
  position: absolute;
  top: -12px;
  left: 0;
  right: 0;
  width: max-content;
  margin: 0 auto;
  color: $colorTextGold4;
  font-weight: $fontWeightBlod;
}

// footer des
// 描述文字边框大小，位置与对齐方式
@mixin footer-des($width,$align,$top,$left){
  width:$width;
  font-size: $fontSizeAdjust;
  text-align: $align;
  color:$colorTextGold4;
  margin: $top 0 0 $left;
}

//quotation
// 引号
@mixin quotation($rev){
  font-size: 30px;
  color: $colorTextGold4;
  opacity: 0.1839;
  @if $rev {
    transform: rotate(180deg);
  }
}

@mixin check-btn{
  position: absolute;
  top: 3px;
  left: 2px;
  font-size:$fontSizeAdjust1;
  color:#fff;
}

//盯盘卡片左边
@mixin circle-card ($bg,$bg2,$deg,$top) {
       &{    
        padding: 8px 4px 8px 19px;
        background: $bg;
        position: relative;
        }
        &::before {
          content: '';
          display: block;
          position: absolute;
          width: 40px;
          height: 1.5px;
          background: $bg2;
          top: 28px;
          right: -40px;
        }

        &::after {
          content: '';
          display: block;
          position: absolute;
          width: 14px;
          height: 1.5px;
          background: $bg2;
          top: $top;
          right: -52px;
          transform: rotate($deg);
        }

        &__number {
          font-size: $fontSize;
          position: relative;

          &::before {
            content: '';
            width: 7px;
            height: 7px;
            display: block;
            position: absolute;
            left: -12px;
            top: 7px;
            background: $bg2;
          }
        } 
}

//ellipsis
//文本溢出省略
@mixin text-ellipsis($row) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: $row; 
  -webkit-box-orient: vertical;
}