@charset "UTF-8";

//-----------------------------------------------------
// variables less
//-----------------------------------------------------
$css-prefix: 'vip-';

//页面相关
//-----------------------------------------------------
$view-minmax: calc((900px - 500px) / (1920 - 500));
$h1:calc(42px + (88 - 42) * #{$view-minmax});
$h2:calc(22px + (34 - 22)*#{$view-minmax});
$h1_lh:calc(#{$h1} * 1.382);
$h2_lh:calc(#{$h2} + 10px);
//-----------------------------------------------------
// font相关
//-----------------------------------------------------

$fontSizeMini: 10px !default;
$fontSizeSmaller: 12px !default;
$fontSizeSmall: 14px !default;
$fontSize: 16px !default;
$fontSizeLarge: 18px !default;
$fontSizeAdjust: 13px !default;
$fontSizeAdjust1: 11px !default;
$fontSizeAdjust2: 9px !default;
$fontSizeAdjust3: 8px !default;
$fontSizeAdjust4: 7px !default;
$fontSizePay: 24px !default;
$fontLineHeight: 1.5 !default;
$fontFamily: 'Microsoft YaHei UI',
'Microsoft YaHei',
-apple-system,
BlinkMacSystemFont,
'Seogoe UI',
Roboto,
'Helvetica Neue',
Helvetica,
Arial,
'PingFang SC',
'Hiragino Sans GB',
'Source Han Sans CN',
sans-serif !default;
// 苹方, 冬青黑体，微软雅黑UI（win8.1+），微软雅黑，思源黑体（安卓）
$fontFamily1: Trade Gothic,
'Hiragino Kaku Gothic ProN',
'ヒラギノ角ゴ ProN W3',
Meiryo,
メイリオ,
sans-serif !default;
$fontWeightLighter: 400 !default;
$fontWeightNormal: 500 !default;
$fontWeightBlod: 600 !default;
$fontWeightBloder: 700 !default;
//-----------------------------------------------------

//color 相关，文本色,背景色
//------------------------------------------------------
$colorText: #333333 !default; //文本颜色
$colorTextLight1: #555555 !default; //较浅的文本颜色
$colorTextLight2: #888888 !default; //更浅的文本颜
$colorTextLight3: #d7dce6 !default; //最浅的文本颜色
$colorTextLight4: #666666 !default; //更浅的文本颜色
$colorTextLight5: #cacaca !default; //盯盘部分文本颜色
$colorTextDark1: #4f535f !default; //较深的文本颜色
$colorTextDark2: #3d3f45 !default; //更深的文本颜色
$colorTextGold: #c59f6d !default; //金色的文本颜色
$colorTextGold1: #95703e !default; //较深的金色文本颜色
$colorTextGold2: #e0c7a1 !default; //较浅的金色的文本颜色
$colorTextGold3: #e5d9bc !default; //更浅的金色的文本颜色
$colorTextGold4: #96754a !default; //更深的金色的文本颜色

$colorWhite: #ffffff !default; // 白色背景色
$colorBG: #f6f7f8 !default; // 页面背景颜色
$colorBGGold1: #f7edd6 !default; // 较浅的金色的背景颜色
$colorBGDark: #3d3f45 !default; // 深的背景颜色
$colorBGPop: rgba(0, 0, 0, 0.6) !default; //半透明的遮罩
$colorBGcheck: #e4ce97 !default; // 金色选框的背景颜色
$colorBGcheck1: #1eaa39 !default; // 绿色选框的背景颜色
$colorPayA: #4a90e2 !default; //支付宝颜色
$colorPayW: #57c830 !default; // 微信颜色
$colorPayV: #3d3f45 !default; //苹果支付颜色
$colorBGRed: #f05046 !default; // 盯盘背景色
$colorBGBlue: #1bc7b4 !default; // 盯盘背景色

$colorBorGold: #e5d9bc !default; // 较浅的金色边框颜色
$colorBorGray1: #eaeef1 !default; // 较浅的灰色边框颜色

$colorSwiperBG: #2a2c30 !default; //盯盘swiper背景色
//------------------------------------------------------

// 元素外间距
//-----------------------------------------------------
$gap: 18px !default; // 普通元素之间的间距
$headerGap: 48px !default; // header的上间距
$powerGap: 15px !default; // 会员功能按钮的间距
$subTitleGap: 70px !default; // 子标题顶部间距

//-----------------------------------------------------

//元素内边距
//-----------------------------------------------------
$tagPad: 2px 10px !default;
$padding: 18px; // 内容内边距
//-----------------------------------------------------

//raidus
//-----------------------------------------------------
$radiusSmall: 5px !default;
$radiusSmall1: 9px !default;
$radiusLarge: 17px !default;
$radiusLarger: 24px !default;
//-----------------------------------------------------

//height
//-----------------------------------------------------
$btnHeight: 22px !default; //卡片和用户的btn高度
$btnHeight1: 45px !default; //提交购买的btn高度
//-----------------------------------------------------

//shadow
//-----------------------------------------------------
$boxShadow: -1px 1px 10px 0px rgba(0, 0, 0, 0.07); //盒子阴影
//-----------------------------------------------------